body {
    background-color: #ffffe6;
    font-family: arial, sans-serif;
background-image: url("data:image/jpeg;base64,/9j…AQxik1rBKKYDDImSW78hMYZY/9k");

 }


    .wrapper {
      background: #ffffff;
      width: 60%;
      max-width: 700px;
      margin: 0 auto;
      padding: 12px 20px;

    }

    h1, h2 {
      color: #FFE500;
      color: #CF995F;

    }

    }
    ul{
      padding-left: 20px;
      margin-top: 12px;
    }
    .image{
margin: 2em 0;
text-align: center;


    }

    .topnav {
    overflow: hidden;
    background-color: #f1f1f1;
  }

  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
  }


    p.caption {
      font-style: italic
      margin-top: 0;

    }

    a {
      color: #BAF2D8;
      color: #96897B;
    }

    img {
      max-width: 100%;
      height: auto;

    }
